*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    width: 600px;
    height: 200px;

}
.parent{
    width: 540px;
    height: 100px;
    margin: 10%;
    display: flex;
}
.m5{
    width: 100px;
    height: 100px;
    font-size: 80PX;
    border: 1px solid gray;
    border-right: none;
    
}
.m6{
    width: 320px;
    height: 100px;
    font-size: 80PX;
    border: 1px solid gray;
}
.uzb{
    width: 100px;
    height: 100px;
    border: 1px solid gray;
    padding: 20px 0 0 28px;
}
.flag{
    width: 50%;
    
    display: block;
}
.uz{
    padding-top: 20px;
    padding-left: 5px;
}
.malumot{
    padding: 0 10%;
}
.malumot img{
    width: 50%;
}
h1{
    width: 100%;
    font-size: 20px;
    padding-top: 3%;
    color: rgba(255, 30, 30, 0.67);
}
a{
    margin-left: 10%;
    color: rgb(0, 55, 255);
    font-size: 16px;
}